* {
    margin: 0;
    padding: 0;
  }
 
 
  #contenedor2 {
    width: 1200px;
    margin: 0 auto
  }
 
  #header {
    background-color: rgb(12, 245, 12);
    overflow: hidden;
    padding: 10px;
    width: 100%;
  }
  th, tr {
    padding: 10px;
    border: 2px solid #000000;
    text-align: center;
  }
 
  #titulo {
    width: 1200px;
    text-align: center;
  }


 
  table {
    width: 100%;
  }


  .contenedor14 {
    text-align: center;
    line-height: 200px;
  }


  img {
    border: 1px solid black;
    padding: 5px;
    width: 550px;
    height: 500px;
    display: inline-block;
   
  }

  .mt {
    width: 550px;
  }

  .vic {
    width: 550px;
    
  }